<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated functioncall -->
      <package
            uri="http://functioncall"
            class="x.y.z.functioncall.FunctioncallPackage"
            genModel="src/functioncall.genmodel"/>
   </extension>

</plugin>
