<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="ale.compiler.ui.contribution1"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
       <menu
             id="ale.compiler.ui.menu1"
             label="ALE"
             path="additions">
          <separator
                name="group1">
          </separator>
       </menu>
       <action
             class="org.eclipse.emf.ecoretools.ale.compiler.ui.GenerateRevisitorInterface"
             enablesFor="1"
             id="ale.compiler.ui.newAction"
             label="Generate Revisitor Interface"
             menubarPath="ale.compiler.ui.menu1/group1">
       </action>
    </objectContribution>
    <objectContribution
          id="ale.compiler.ui.contribution2"
          nameFilter="*.dsl"
          objectClass="org.eclipse.core.resources.IFile">
       <menu
             id="ale.compiler.ui.menu2"
             label="ALE"
             path="additions">
          <separator
                name="group2">
          </separator>
       </menu>
       <action
             class="org.eclipse.emf.ecoretools.ale.compiler.ui.GenerateAleImplementation"
             enablesFor="1"
             id="ale.compiler.ui.newAction2"
             label="Generate Ale Implementation"
             menubarPath="ale.compiler.ui.menu2/group2">
       </action>
    </objectContribution>
   </extension>

</plugin>
