<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated emfrelations -->
      <package
            uri="http://www.example.org/emfrelations_sub"
            class="fr.mleduc.xp.emfrelations.emfrelations.EmfrelationsPackage"
            genModel="src/emfrelations.genmodel"/>
   </extension>

</plugin>
