<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://miniJava.miniJava.miniJava/"
			class = "miniJava.interpreter.miniJava.MiniJavaPackage"
			genModel = "interpreter-comp/miniJava.genmodel" />
	</extension>

</plugin>
