<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated boa_dynamic -->
      <package
            uri="http://boa_dynamic.boa_dynamic.boa_dynamic/"
            class="boa_dynamic.interpreter.boa_dynamic.Boa_dynamicPackage"
            genModel="interpreter-comp/boa_dynamic.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated boa -->
      <package
            uri="http://boa.boa.boa/"
            class="boa.interpreter.boa.BoaPackage"
            genModel="interpreter-comp/boa.genmodel"/>
   </extension>
</plugin>
