<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testbidirectionalrelation -->
      <package
            uri="http://testbidirectionalrelation"
            class="testbidirectionalrelation.TestbidirectionalrelationPackage"
            genModel="assets/testbidirectionalrelation/testbidirectionalrelation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testenums -->
      <package
            uri="http://testenums"
            class="testenums.TestenumsPackage"
            genModel="assets/testenums/testenums.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test1 -->
      <package
            uri="http://test1"
            class="test1.Test1Package"
            genModel="assets/testmap1/test1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated autocast -->
      <package
            uri="http://autocast"
            class="autocast.AutocastPackage"
            genModel="assets/autocast/autocast.genmodel"/>
   </extension>

</plugin>
