<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diamond -->
      <package
            uri="http://diamond"
            class="diamond.DiamondPackage"
            genModel="src/diamond.genmodel"/>
   </extension>

</plugin>
