<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated imp -->
      <package
            uri="http://www.example.org/imp"
            class="imp.model.imp.ImpPackage"
            genModel="model/imp.genmodel"/>
   </extension>

</plugin>
